@font-face{
    font-family: "Roboto";
    src: url(fonts/3966.ttf) format("truetype");
}
ul{
    list-style-type:none;
}
.btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}
#ball{
    position: absolute;
    left:10px;
    top:0px;

}

/* On mouse-over */
.btn:hover {background: #eee;}
.top-bar{
    position: absolute;
width: 1441px;
height: 48px;
box-shadow: 0 4px 4px rgba(0,0,0,0.5);

   
}
.bars {
    position: absolute;
width: 40px;
height: 40px;
left: 8px;
top: 16px;
}
.ellipsis{
    position: absolute;
width: 12px;
height: 24px;
right: 16px;
bottom: 16px;
}
.page-title{
    position: absolute;
left: 166px;
right: 0px;
top: -15%;
bottom: 0%;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 23px;
color:rgba(0, 0, 0, 0.87);
}
.color-nav, .tool-nav{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
}
.tool-list{
position: absolute;
width: 228px;
height: 246px;
left: 29px;
top: 127px;
box-shadow: 0 4px 4px rgba(0,0,0,0.5);
}
.tool-bucket{
    position: absolute;
width: 196px;
height: 48px;
left: 18px;
top: 0px;
}
.tool-color-picker{
    position: absolute;
width: 196px;
height: 48px;
left: 16px;
top: 56px;
}
.tool-move{
    position: absolute;
width: 196px;
height: 48px;
left: 16px;
top: 120px;
}
.tool-transform{
    position: absolute;
width: 196px;
height: 48px;
left: 16px;
top: 168px;
}

.divider-line-tool{
    position: absolute;
height: 1px;
left: 0%;
right: 0%;
top: 111px;

background: rgba(0, 0, 0, 0.12);
}


.color-list{
position: absolute;
width: 228px;
height: 246px;
left: 29px;
top: 465px;
box-shadow: 0 4px 4px rgba(0,0,0,0.5);
}
.color-current{
    position: absolute;
width: 196px;
height: 48px;
left: 60px;
top: 0px;
}
.color-previous{
    position: absolute;
width: 196px;
height: 48px;
left: 34px;
top: 56px;
}
.divider-line-color{
    position: absolute;
height: 1px;
left: 0%;
right: 0%;
top: 111px;

background: rgba(0, 0, 0, 0.12);
}


.color-1{
    position: absolute;
width: 196px;
height: 48px;
left: 16px;
top: 120px;
}
.color-2{
    position: absolute;
width: 196px;
height: 48px;
left: 16px;
top: 168px;

}
.image-list{
position: absolute;
width: 725px;
height: 731px;
left: 674px;
top: 127px;
}
.image-1{

position: absolute;
left: 0%;
right: 67.42%;
top: 0%;
bottom: 67.42%;

background: rgba(0, 0, 0, 0.2);
}
.image-2{
    position: absolute;
left: 33.68%;
right: 33.74%;
top: 0%;
bottom: 67.42%;

background: rgba(0, 0, 0, 0.26);
}
.image-3{
    position: absolute;
left: 67.36%;
right: 0.06%;
top: 0%;
bottom: 67.42%;

background: rgba(0, 0, 0, 0.25);
}
.image-4{
    position: absolute;
left: 0%;
right: 67.42%;
top: 33.67%;
bottom: 33.75%;

background: rgba(0, 0, 0, 0.27);
}
.image-5{
    position: absolute;
    left: 33.68%;
    right: 33.74%;
    top: 33.67%;
    bottom: 33.75%;
    
    background: rgba(0, 0, 0, 0.19);
}
.image-6{
    position: absolute;
    left: 67.36%;
    right: 0.06%;
    top: 33.67%;
    bottom: 33.75%;
    
    background: rgba(0, 0, 0, 0.21);
}
.image-7{
    position: absolute;
    left: 0%;
    right: 67.42%;
    top: 67.34%;
    bottom: 0.08%;
    
    background: rgba(0, 0, 0, 0.22);
    border-radius: 130px;
}
.image-8{
    position: absolute;
    left: 33.68%;
    right: 33.74%;
    top: 67.34%;
    bottom: 0.08%;
    
    background: rgba(0, 0, 0, 0.23);
}
.image-9{
    position: absolute;
    left: 67.36%;
    right: 0.06%;
    top: 67.34%;
    bottom: 0.08%;
    
    background: rgba(0, 0, 0, 0.2);
}